doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full")
    script(type="text/javascript").
      function date_to_string(datetime) {
        var dt = new Date(datetime);
        dt = dt.getFullYear()+'.'+
            ((1+dt.getMonth()<10)?'0'+(1+dt.getMonth()):(1+dt.getMonth()))+'.'+
            ((dt.getDate()<10)?'0'+(dt.getDate()):(dt.getDate()))+' в '+
            ((dt.getHours()<10)?'0'+(dt.getHours()):(dt.getHours()))+':'+
            ((dt.getMinutes()<10)?'0'+(dt.getMinutes()):(dt.getMinutes()))+':'+
            ((dt.getSeconds()<10)?'0'+(dt.getSeconds()):(dt.getSeconds()));
        return dt;
      }
      var map;
      var name = '#{name}';
      var datetime = #{datetime};
      var marker;
      var button;
      DG.then(function () {
        button = document.getElementById('button');
        button.onclick = function() {
          marker.openPopup();
        };
        map = DG.map('map', {
          center: [#{lat}, #{lng}],
          zoom: 20
        });
        marker = DG.marker([#{lat}, #{lng}]).addTo(map);
        marker.bindPopup(name+' был здесь '+date_to_string(datetime));
        marker.on('click', function (e) {map.setView([e.latlng.lat, e.latlng.lng]);});
      });
      var ws = new WebSocket("#{ws_link}");
      ws.onclose = function(event) {
        if (event.wasClean) {
          alert('Соединение закрыто чисто.');
        } else {
          alert('Обрыв соединения.');
        }
      };
      ws.onmessage = function(event) {
        var array = JSON.parse(event.data);
        marker.setLatLng([array[0],array[1]]);
        datetime = array[2];
        marker.unbindLabel();
        marker.bindPopup(name+' был здесь '+date_to_string(datetime));
      };
  body
    block content
      h1= title
      p Геолокация пользователя #{title}
      button(id='button') Показать метку
      p
      div(id="map", style="width:500px; height:400px")
